# My Shop

{{ if .IsAdmin -}}
[Admin Area](/admin)

{{ end -}}

--grid[3]--
{{range .Products -}}
{{ with productImage .Image }}![]({{.}})
{{ else }}![](assets/placeholder.png)
{{ end -}}
**[{{.Title}}](product/{{.SKU}})**
{{.Price}}
{{end}}
--/grid--

[Cart](/cart)   [Orders](/orders)
